/* Grundlegendes Layout */
body {
    font-family: Helvetica, sans-serif;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

/* Überschriften-Stil */
h1,
h2 {
    color: navy;
    margin: 0;
}

h2 {
    margin-bottom: 20px;
}

/* Formular-Stil */
form {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

/* Stil für Label und Input-Felder */
.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

label {
    color: #121212;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #121212;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #121212;
    font-size: 16px;
    width: 100%;
    /* Stellt sicher, dass die Eingabefelder die volle Breite nutzen */
}

/* Gemeinsamer Button-Stil */
input[type="submit"],
button[type="button"] {
    background-color: navy;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

/* Hover-Effekt für Buttons */
input[type="submit"]:hover,
button[type="button"]:hover {
    background-color: white;
    color: navy;
}

/* Ergebnis-Container-Stil */
.results {
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}