body {
    font-family: Helvetica, sans-serif;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1,
h2 {
    color: navy;
    margin: 0 0 20px 35px;
}

form {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

label {
    color: #121212;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="number"] {
    padding: 16px;
    margin-right: 7px;
    margin-bottom: 20px;
    /* Angepasst von 35px auf 20px für einheitlichen Abstand */
    border: 1px solid #121212;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #121212;
    font-size: 16px;
}

/* Stile für beide Buttons (Berechnen und Reset) */
input[type="submit"],
button[type="button"] {
    background-color: navy;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

/* Hover-Effekt für beide Buttons */
input[type="submit"]:hover,
button[type="button"]:hover {
    background-color: white;
    color: navy;
}

.results {
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}